<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>
    <div class="main-content">
        {{>header}}

        <form>
            <input>
            <button placeholder="Location">Search</button>
        </form>

        <p id="m1"></p>
        <p id="m2"></p>

    </div>
    {{>footer}}

    <script src="/js/script.js"></script>
</body>
</html>