<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>

    <div class="main-content">
        {{>header}}
        <h3>{{error}}</h3>
        <h3>{{location}}</h3>
        <h4>{{forecast}}</h4>
    </div>
    {{>footer}}
</body>
</html>